<section class="pf-c-nav__section" aria-labelledby="grouped-title{{ include.number }}">
    {% if include.title %}
    <h2 class="pf-c-nav__section-title" id="grouped-title{{ include.number }}">
        {{ include.title }}
    </h2>
    {% endif %}
    <ul class="pf-c-nav__simple-list">
        {% assign pages = include.pages | strip | split: " " %}

        {% for page in pages %}

        {% assign page_info = page | split: "-" %}
        {% assign title = page_info[0] %}
        {% assign link = page_info[1] %}

        {% if title contains '*' %}
            {% assign current = 'pf-m-current" aria-current="title' %}
        {% else %}
            {% assign current = '' %}
        {% endif %}

        {% if title contains '>' %}
            {% assign sub = true %}
        {% else %}
            {% assign sub = false %}
        {% endif %}

        {% if title contains '^' %}
            {% assign back = true %}
        {% else %}
            {% assign back = false %}
        {% endif %}

        {% if title contains '!' %}
            {% assign warn = true %}
        {% else %}
            {% assign warn = false %}
        {% endif %}

        {% if title contains '@' %}
            {% assign host = true %}
            {% assign user = title | split: '@' | first %}
            {% assign hostname = title | split: '@' | last | remove: '*' %}
            {% assign item-class = "host-item" %}
        {% else %}
            {% assign host = false %}
        {% endif %}

        {% if link %}
            {% assign url = link | append: ".html" %}
        {% else %}
            {% assign url = "#" %}
        {% endif %}

        <li class="pf-c-nav__item"><a href="{{ url }}" class="pf-c-nav__link {{ current }} {{ item-class }}">
            {% if back %}
            <i class="fa fa-angle-left"></i>
            {% endif %}
            <span class="ct-nav-item">
                {% if host %}
                <span class="username">{{ user }}</span>
                <span class="at">@</span>
                <span class="hostname">{{ hostname }}</span>
                {% else %}
                {{ title | remove: "*" | remove: ">" | remove: "^"  | remove: "!" | replace: "_", " " | strip }}
                {% endif %}
            </span>
            {% if sub %}
            <i class="fa fa-angle-right"></i>
            {% endif %}
            {% if warn %}
            <i class="fa fa-exclamation-triangle"></i>
            {% endif %}
            {% if host %}
            <button class="pf-c-button pf-m-danger remove-host" type="button" aria-label="Remove host" title="Remove host">
                <i class="fa fa-minus"></i>
            </button>
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>
</section>