<nav class="pf-c-nav pf-m-dark" aria-label="Global">
  {% include_relative _nav-group.html
    number=1
    title="Apps"
    pages="
      Image_Builder>-composer
      View_all_apps
    "
  %}
  {% include_relative _nav-group.html
    number=2
    title="System"
    pages="
      Overview*-index
      Logs
      Services!
      Storage
      Networking-network_firewall
      Podman_containers
      Virtual_machines
    "
  %}
  {% include_relative _nav-group.html
    number=3
    title="Tools"
    pages="
      Software_updates
      Accounts
      Diagnostic_reports
      Kernel_dump
      Terminal
    "
  %}
</nav>