<section class="pf-c-nav__section" aria-labelledby="grouped-title{{ include.number }}">
    <h2 class="pf-c-nav__section-title" id="grouped-title{{ include.number }}">
        {{ include.title }}
    </h2>
    <ul class="pf-c-nav__simple-list">
        {% assign pages = include.pages | strip | split: " " %}

        {% for page in pages %}

        {% assign page_info = page | split: "-" %}
        {% assign title = page_info[0] %}
        {% assign link = page_info[1] %}

        {% if title contains '*' %}
            {% assign current = 'pf-m-current" aria-current="title' %}
        {% else %}
            {% assign current = '' %}
        {% endif %}

        {% if title contains '>' %}
            {% assign sub = true %}
        {% else %}
            {% assign sub = false %}
        {% endif %}

        {% if title contains '!' %}
            {% assign warn = true %}
        {% else %}
            {% assign warn = false %}
        {% endif %}

        {% if link %}
            {% assign url = link | append: ".html" %}
        {% else %}
            {% assign url = "#" %}
        {% endif %}

        <li class="pf-c-nav__item"><a href="{{ url }}" class="pf-c-nav__link {{ current }}">
            {{ title | remove: "*" | remove: ">"  | remove: "!" | replace: "_", " " | strip }}
            {% if sub %}
            <i class="fa fa-angle-right"></i>
            {% endif %}
            {% if warn %}
            <i class="fa fa-exclamation-triangle"></i>
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>
</section>