---
title: Demo
layout: minimal
css: "pf4/patternfly pf4/patternfly-addons"
css_local: "nav"
---
<section class="page pf-m-redhat-font">
    <div class="ct-switcher">
        {% include_relative _select.html %}
    </div>

    <div class="header">
        {% include_relative _header.html title=page.title %}
    </div>

    <div id="page-sidebar" class="sidebar pf-c-page__sidebar pf-m-dark pf-m-expanded pf-c-page__sidebar-body">
        {% include_relative _search.html %}
        {% include_relative _nav_demo.html %}
    </div>


    <main role="main" id="main-content-page-layout-group-nav" class="pf-c-page__main" tabindex="-1">
        <section class="pf-c-page__main-section pf-m-light">
            <div class="pf-c-content">
                <h2 data-pf-content="true">Composer</h2>
                <p data-pf-content="true">
                    Welcome to Composer!
                </p>
            </div>
        </section>
    </main>
</section>