---
title: Cockpit
layout: minimal
css: "pf4/patternfly pf4/patternfly-addons form-layout"
css_local: "nav"
---
<section class="page pf-m-redhat-font">
    <div class="header">
        {% include_relative _header.html %}
    </div>

    <div id="page-sidebar" class="sidebar pf-c-page__sidebar pf-m-dark pf-m-expanded pf-c-page__sidebar-body">
        {% include_relative _select.html %}
        {% include_relative _search.html %}
        {% include_relative _nav.html %}
    </div>


    <main role="main" id="main-content-page-layout-group-nav" class="pf-c-page__main" tabindex="-1">
        <section class="pf-c-page__main-section pf-m-light">
            <div class="pf-c-content">
                {% include_relative _overview.html %}
            </div>
        </section>
    </main>
</section>