---
---

$phone: 0;
$desktop: $phone + 1px;

.test {
    width: 20rem;
}

html, body, .page {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    height: 100vh;
    width: 100vw;

    @media (max-width: $phone) {
        grid: "content content" "nav header";
        grid-template-rows: 1fr 4rem;
        grid-template-columns: auto 4rem;
        overflow: hidden;
    }

    @media (min-width: $desktop) {
        grid: "header header" "nav content";
        grid-template-rows: max-content 1fr;
        grid-template-columns: minmax(max-content, 15rem) 1fr;
    }
}

.header,
.nav,
.content {
    overflow: auto;
}

.header {
    grid-area: header;
    background: #151515;
    color: white;
    padding: 1rem 1.5rem;
    border-top: 3px solid var(--pf-global--primary-color--light-100);

    h1 {
        font-size: 1.25rem;
        font-family: var(--pf-global--FontFamily--heading--sans-serif);
        text-transform: uppercase;
    }

    @media (max-width: $phone) {
        h1 {
            display: none;
        }
    }
}

.nav {
    grid-area: nav;
    border-right: 1px solid var(--pf-global--BorderColor--100);
    display: flex;
    flex-direction: column;

    > .pf-c-select {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--pf-global--BorderColor--100);
    }

    .pf-c-nav {
        overflow-y: auto;
        flex: 1 1 0;
    }

    hr.pf-c-divider {
        border: none;
        border-top: 1px solid var(--pf-global--BorderColor--100);
        margin: 2rem 1rem;
    }

    @media (max-width: $phone) {
        flex-direction: row;
        align-items: start;

        > .pf-c-select,
        .pf-c-nav > section {
            max-width: 10rem;
            margin: 0;
        }

        > .pf-c-select,
        .pf-c-nav {
            padding: 0;
        }

        > .pf-c-select {
            width: 8rem;
        }

        .pf-c-nav {
            display: flex;
            overflow: auto;
            max-width: calc(100vw - 30vw - 4rem);
        }

        .pf-c-nav > section {
            &:focus,
            &:focus-within,
            &:hover {
                //align-self: end;
            }
        }
    }
}

.content {
    grid-area: content;
    background: #fafafa;
}

.ct-search {
    margin: 1rem 1.5rem;

    .search-icon {
        position: absolute;
        display: inline-block;
        text-align: center;
        margin-left: 0.5em;
        opacity: 0.5;
        width: 16px;
        transition: opacity 300ms;

        &::before {
            margin-top: 6px;
            font-family: Font Awesome\ 5 Free;
            content: "\F002";
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smooth: antialiased;
        }
    }

    > input {
        padding-left: calc(16px + 1em);

        &:focus {

            ~ .search-icon {
                opacity: 1;
            }
        }
    }
}