---
title: Devices
layout: minimal
---

<style>
 .device-comparison td {
  vertical-align: top;
  padding: 1em 3em;
 }
</style>


<div class="container-fluid">

{% assign hardware = site.data.hardware | sort: 'bus info' %}

{% assign busses = 'usb,scsi,pci' | split: ',' %}
{% assign descs = hardware | sort: 'description' | group_by: 'description' %}
{% assign classes = hardware | group_by: 'class' %}

<table class="device-comparison"><tr><td>

   <h1>Description-based</h1>
{% for desc in descs %}
<h2>{{ desc.name | default: '[undefined]' }}
 ({{ desc.size }} item{% if desc.size != 1 %}s{% endif%})</h2>

{% include hardware-table.html items=desc.items %}
{% endfor %}

</td><td>

<h1>Class-based (normalized IDs)</h1>
{% for class in classes %}
 <h2>{{ class.name }}</h2>

{% include hardware-table.html items=class.items %}
 <!--
<ol>
{% for item in class.items %}
<li><strong>{{ item.id }}</strong> — 
{{ item.description | default: item.id
}}{% if item.product %}, {{ item.product }}{% endif %}{% if
item['logical name'] %}, {{ item.capacity }} {{ item['logical name']}} {% endif%}
</li>
{{ item }}
{% endfor %}
</ol>
-->
{% endfor %}

</td><td>

<h1>Bus-filtered</h1>
{% for bus in busses %}
<h2>{{ bus | upcase }}</h2>

{% include hardware-table.html items=hardware filter=bus %}
{% endfor %}

</td></tr></table>

<!--
  <h2>Devices</h2>

  <h3>PCI</h3>

  <div id="services-list-enabled">
    <div class="panel panel-default">
      <div class="panel-heading">Enabled</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="service-unit-description">Description</th>
            <th>Id</th>
            <th>Next Run</th>
            <th>Last Trigger</th>
            <th class="service-unit-data ">State</th>
          </tr>
        </thead>

        <tbody><tr data-goto-unit="dnf-makecache.timer">
            <td class="service-unit-description">dnf makecache timer</td>
            <td>dnf-makecache.timer</td>
            <td>Today at 4:54 PM</td>
            <td>Today at 3:54 PM</td>
            <td class="service-unit-data ">
              active (waiting)
            </td>
            </tr><tr data-goto-unit="fstrim.timer">
            <td class="service-unit-description">Discard unused blocks once a week</td>
            <td>fstrim.timer</td>
            <td>Monday at 12:00 AM</td>
            <td>Last Monday at 9:26 AM</td>
            <td class="service-unit-data ">
              active (waiting)
            </td>
      </tr></tbody></table>
    </div>
  </div>
  <h3>SCSI</h3>
  <div id="services-list-disabled">
    <div class="panel panel-default">
      <div class="panel-heading">Disabled</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="service-unit-description">Description</th>
            <th>Id</th>
            <th>Next Run</th>
            <th>Last Trigger</th>
            <th class="service-unit-data ">State</th>
          </tr>
        </thead>

        <tbody><tr data-goto-unit="chrony-dnssrv@.timer">
            <td class="service-unit-description">chrony-dnssrv@.timer Template</td>
            <td>chrony-dnssrv@.timer</td>
            <td></td>
            <td></td>
            <td class="service-unit-data ">

            </td>
            </tr><tr data-goto-unit="mlocate-updatedb.timer">
            <td class="service-unit-description">Updates mlocate database every day</td>
            <td>mlocate-updatedb.timer</td>
            <td></td>
            <td></td>
            <td class="service-unit-data ">
              inactive (dead)
            </td>
            </tr><tr data-goto-unit="sheepdog.timer">
            <td class="service-unit-description">Sheepdog QEMU/KVM Block Storage</td>
            <td>sheepdog.timer</td>
            <td></td>
            <td></td>
            <td class="service-unit-data ">
              inactive (dead)
            </td>
            </tr><tr data-goto-unit="unbound-anchor.timer">
            <td class="service-unit-description">daily update of the root trust anchor for DNSSEC</td>
            <td>unbound-anchor.timer</td>
            <td></td>
            <td></td>
            <td class="service-unit-data ">
              inactive (dead)
            </td>
            </tr><tr data-goto-unit="yum-makecache.timer">
            <td class="service-unit-description">yum makecache timer</td>
            <td>yum-makecache.timer</td>
            <td></td>
            <td></td>
            <td class="service-unit-data ">
              inactive (dead)
            </td>
      </tr></tbody></table>
    </div>
  </div>
  <h3>USB</h3>
  <div id="services-list-static">
    <div class="panel panel-default">
      <div class="panel-heading">Static</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="service-unit-description">Description</th>
            <th>Id</th>
            <th>Next Run</th>
            <th>Last Trigger</th>
            <th class="service-unit-data ">State</th>
          </tr>
        </thead>

        <tbody><tr data-goto-unit="mdadm-last-resort@.timer">
            <td class="service-unit-description">mdadm-last-resort@.timer Template</td>
            <td>mdadm-last-resort@.timer</td>
            <td></td>
            <td></td>
            <td class="service-unit-data ">

            </td>
            </tr><tr data-goto-unit="systemd-tmpfiles-clean.timer">
            <td class="service-unit-description">Daily Cleanup of Temporary Directories</td>
            <td>systemd-tmpfiles-clean.timer</td>
            <td>Today at 8:47 PM</td>
            <td>Yesterday at 9:22 AM</td>
            <td class="service-unit-data ">
              active (waiting)
            </td>
      </tr></tbody></table>
    </div>
  </div>
</div>
  </div>
-->
