---
title: pcp
layout: document
---

{% assign nodes = site.data.pcp.predefined.nodes %}
{% assign groups = nodes | group_by_exp: "item", "item.parents.first" %}
{% assign group_first = true %}

<h1>PCP Measurements</h1>

{% for group in groups %}
  {% unless group.name == "Start" or group.name == nil or group.name contains " - " %}
  {% if group_first != true %}<hr>{% endif %}
  {% assign group_first = false %}

  <section class="primary">

    {% assign node = nodes | where: "name", group.name | first %}

    <h2 id="{{ group.name | slugify }}">{{ group.name }}</h2>

    <section class="subsections">
      <section class="secondary">
        <h3 id="{{ group.name | append: ' main' | slugify | replace_first: '-', '--' }}">{{group.name}} (main)</h3>
        {% include_relative inc/_pcp_item.html node=node %}
      </section>

    {% for item in group.items %}
      <section class="secondary">
      <h3 id="{{ item.name | slugify | replace_first: '-', '--' }}">{{ item.name | split: " - " | last | capitalize | replace: 'x ', 'X ' }}</h3>
      {% include_relative inc/_pcp_item.html node=item %}
      </section>
    {% endfor %}
    </section>

  </section>
  {% endunless %}
{% endfor %}

<style>
  h1 {
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
  }

  h2 {
    font-weight: 500;
    position: sticky;
    top: 0;
    padding: 2.25rem 0 2rem;
    margin-top: 0;
    margin-bottom: -1rem;
    color: #999;
    background: linear-gradient(to top, transparent 0, rgba(255, 255, 255, 0.5) 0.25rem, #fff 1.5rem);
    text-shadow: 0 0 16px #fff;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  section.primary {
    margin: 4rem 0 6rem;
    padding: 0 2rem;
  }

  section.secondary em {
    color: #555;
  }

  .subsections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60ch, 1fr));
    grid-gap: 3rem;
    margin: 2rem 0;
  }

  .document.content-wrapper {
    max-width: 175rem;
  }

  samp {
    background: #ffa;
    padding: 0.5ch;
    font-weight: 600;
    color: #442;
  }

  .hoverhelp {
    cursor: help;
    padding: 1ch 0.5ch;
  }
</style>