---
title: PCP Measurements
layout: document
---

{% assign nodes = site.data.pcp.predefined.nodes %}
{% assign groups = nodes | group_by_exp: "item", "item.parents.first" %}
{% assign group_first = true %}

<h1>PCP Measurements</h1>

<p class="intro">
  Based on <a href="https://github.com/performancecopilot/pcp-webapp-grafana/blob/checklist/checklist.json" target="_blank">grafana/checklist.json</a>.
</p>

{% for group in groups %}
  {% unless group.name == "Start" or group.name == nil or group.name contains " - " %}
  {% if group_first != true %}<hr>{% endif %}
  {% assign group_first = false %}

  <section class="primary">

    {% assign node = nodes | where: "name", group.name | first %}

    <h2 id="{{ group.name | slugify }}">{{ group.name }}</h2>

    <section class="subsections">
      <section class="secondary">
        <h3 id="{{ group.name | append: ' main' | slugify | replace_first: '-', '--' }}">{{group.name}} (main)</h3>
        {% include_relative inc/_pcp_item.html node=node %}
      </section>

    {% for item in group.items %}
      <section class="secondary">
      <h3 id="{{ item.name | slugify | replace_first: '-', '--' }}">{{ item.name | split: " - " | last | capitalize | replace: 'x ', 'X ' }}</h3>
      {% include_relative inc/_pcp_item.html node=item %}
      </section>
    {% endfor %}
    </section>

  </section>
  {% endunless %}
{% endfor %}

<style>@import url(css/pcp.css)</style>