{% capture panel %}
  {% if include.filter %}
    {% assign nofilter = false %}
  {% else %}
    {% assign nofilter = true %}
  {% endif %}

  {% assign bus_size = include.items | group_by: 'bus info' | map: 'name' | join: ' ' | size %}
  {% assign name_size = include.items | group_by: 'product' | map: 'name' | join: ' ' | size %}
  {% assign vendor_size = include.items | group_by: 'vendor' | map: 'name' | join: ' ' | size %}
  {% assign serial_size = include.items | group_by: 'serial' | map: 'name' | join: ' ' | size %}
  {% assign version_size = include.items | group_by: 'version' | map: 'name' | join: ' ' | size %}
  {% assign size_size = include.items | group_by: 'size' | map: 'name' | join: ' ' | size %}
  {% assign width_size = include.items | group_by: 'width' | map: 'name' | join: ' ' | size %}
  {% assign clock_size = include.items | group_by: 'clock' | map: 'name' | join: ' ' | size %}
  {% assign config = include.items | group_by: 'configuration' | map: 'items' | array_to_sentence_string %}

  <div class="panel panel-default hw-list-{{ include.name | default: 'default' | downcase}}">

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="id">ID</th>

          <th class="description">Description</th>

          {% if vendor_size > 0 %}
            <th class="vendor">Vendor</th>
          {% endif %}

          {% if name_size > 0 %}
            <th class="name">Name</th>
          {% endif %}

          {% if bus_size > 0 %}
            <th class="bus">Bus info</th>
          {% endif %}

          {% if config contains '"speed"' and nofilter %}
            <th class="speed">Speed</th>
          {% endif %}

          {% if version_size > 0 %}
            <th class="version">Version</th>
          {% endif %}

          {% if size_size > 0 %}
            <th class="size">size</th>
          {% endif %}

          {% if width_size > 0 %}
            <th class="width">width</th>
          {% endif %}

          {% if clock_size > 0 %}
            <th class="clock">clock</th>
          {% endif %}

          {% if serial_size > 0 %}
            <th class="serial">serial</th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for item in include.items %}
          {% if item['bus info'] contains include.filter or nofilter == true %}

            {% if item.vendor contains 'Linux' %}
              {% assign vendor = 'Linux' %}
            {% elsif item.vendor contains 'Illegal' %}
              {% assign vendor = ' ' %}
            {% else %}
              {% assign vendor = item.vendor %}
            {% endif %}

            {% case item.configuration.driver %}
            {% when 'igbvf'%}
              {% assign name = 'SR-IOV' %}
              {% assign vendor = 'Virtual' %}
            {% when 'bridge'%}
              {% assign name = 'Bridge' %}
            {% else %}
              {% assign name = '' %}
            {% endcase %}

            {% if item.description contains '[empty]' %}
              {% assign empty_slot = true %}
              {% assign empty_class = 'empty' %}
            {% else %}
              {% assign empty_slot = false %}
              {% assign empty_class = '' %}
            {% endif %}

            {% if item.product contains 'Hub' %}
            {% elsif item.product contains 'Host Controller' %}
            {% elsif item.product contains 'UHCI Controller' %}
            {% elsif item.product contains 'EHCI Controller' %}
            {% elsif item.product contains 'Root Port' %}
            {% elsif item.product contains 'Memory Controller' %}
            {% elsif item.id contains 'volume:' %}
            {% elsif item.description contains 'hub' %}
            {% elsif item.description contains ' controller' %}
            {% elsif item.description contains 'Host bridge' %}
            {% elsif item.description contains 'ISA bridge' %}
            {% elsif item.description contains 'PCI bridge' %}
            {% else %}
              <tr class="{{ empty_class }}">
                <td class="id">{{ item['id'] }}</td>

                <td class="description">{{ item['logical name'] | default: item.description }}</td>

                {% if vendor_size > 0 %}
                  <td class="vendor">{% unless empty_slot %}{{ vendor | item.vendor }}{% endunless %}</td>
                {% endif %}

                {% if name_size > 0 %}
                  <td class="name">{% unless empty_slot %}{{ name | default: item.product }}{% endunless %}</td>
                {% endif %}

                {% if bus_size > 0 %}
                  <td class="bus">{{ item['bus info'] | split: '@' | last }}</td>
                {% endif %}

                {% if config contains '"speed"' and nofilter %}
                  <td class="speed">{{ item.configuration.speed }}</td>
                {% endif %}

                {% if version_size > 0 %}
                  <td class="version">{{ item.version }}</td>
                {% endif %}

                {% if size_size > 0 %}
                  <td class="size">{% unless empty_slot %}{{ item['size'] }}{% endunless %}</td>
                {% endif %}

                {% if width_size > 0 %}
                  <td class="width">{% unless empty_slot %}{{ item['width'] }}{% endunless %}</td>
                {% endif %}

                {% if clock_size > 0 %}
                  <td class="clock">{% unless empty_slot %}{{ item['clock'] }}{% endunless %}</td>
                {% endif %}

                {% if serial_size > 0 %}
                  <td class="serial">{% unless empty_slot %}{{ item['serial'] }}{% endunless %}</td>
                {% endif %}
              </tr>
              <!--
              <tr><td colspan="6">{{ item }}</td></tr>
              -->
            {% endif %}
          {% endif %}

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endcapture %}
{% if panel contains '<td'%}{{ panel | strip }}{% endif %}
