{% if include.machine and site.data.hardware[include.machine] %}

  <style>
    .device-comparison td {
      vertical-align: top;
      padding: 1em 3em;
    }
  </style>


  <div class="container-fluid">

    {% assign hardware = site.data.hardware[include.machine] | sort: 'bus info' %}

    {% assign busses = 'usb,scsi,pci' | split: ',' %}
    {% assign descs = hardware | sort: 'description' | group_by: 'description' %}
    {% assign classes = hardware | group_by: 'class' %}

          {% for desc in descs %}
            {%
              if desc.name == 'BIOS'
              or desc.name == 'CPU'
            %}
              <h2>{{ desc.name | default: '[undefined]' }}</h2>

              {% include hardware-table.html items=desc.items name=desc.name %}
            {% endif %}
          {% endfor %}

          {% for class in classes %}
            {%
              if class.name == 'Bank'
              or class.name == 'Computer'
            %}

              <h2>
              {% if class.name == 'Bank' %}
                  Memory
              {% else %}
                {{ class.name }}
              {% endif %}
              </h2>

              {% include hardware-table.html items=class.items name=class.name %}
            {% endif %}
          {% endfor %}

          {% for bus in busses %}
            <h2>{{ bus | upcase }}</h2>

            {% capture panel %}
              {% include hardware-table.html items=hardware filter=bus name=bus %}
            {% endcapture %}

            {% if panel contains '<td' %}
              {{ panel }}
            {% else %}
              No {{ bus | upcase }} devices found.
            {% endif %}
          {% endfor %}

  {% else %}

    <div style="text-align: center; margin: 25vh 0 0;">
      <h1>
        Data not found.
      </h2>

      <p>
        Be sure to
        <pre>
      {% raw %}{% include hardware-list.html machine="machineName" %}{% endraw %}
      </pre>
      </p>
    </div>

  {% endif %}
