---
---

$on-phone: 800px !default

*
  box-sizing: border-box

.stick-together
  display: inline-block

body
  //font-family: open sans, sans-serif
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh
  //line-height: 1.6

.intro
  background: #1d1d1d
  border-top: 2px solid #39a5dc

  h1
    margin: 0
    line-height: 46px
    font-size: 1rem
    text-transform: uppercase
    font-size: 14px
    color: #fff
    text-shadow: 0 0
    padding-left: 2ex

.frame
  height: 100%
  display: grid
  grid-template-areas: "sidebar overview"
  grid-template-columns: 250px 1fr

.sidebar
  display: flex
  //width: 290px
  background: #393f44
  border-left: 68px solid #292e34
  position: relative
  grid-area: sidebar

  &:after
    background: #393f44
    content: ''
    position: absolute
    top: 0
    left: -68px
    width: 68px
    height: 68px
    border: 3px solid #39a5dc
    border-width: 0 0 0 3px

@media (max-width: $on-phone)

  .frame
    grid-template-areas: "overview" "sidebar"
    height: 100vh
    grid-template-rows: 1fr 68px
    grid-template-columns: 1fr

    .sidebar
      background: #292e34

      &:after
        border-width: 0 0 3px 0

    .overview
      overflow: auto

h2,
h3
  margin-top: 0
  font-weight: normal
  color: #777

%sidebar-left
  grid-template: "i i i" minmax(8rem, auto) "h g g" minmax(8rem, auto) "p g g" 1fr
  grid-template-columns: minmax(20rem, auto) 1fr 1fr

%sidebar-right
  grid-template: "i i i" minmax(8rem, auto) "g g h" minmax(8rem, auto) "g g p" 1fr
  grid-template-columns: 1fr 1fr minmax(20rem, auto)

.overview
  grid-area: overview
  display: grid
  margin: 0 auto auto
  width: 100%
  min-height: 66vh
  max-height: 100%
  padding: 2rem

  &:not(.sidebar-right)
    @extend %sidebar-left

  &.sidebar-right
    @extend %sidebar-right

  > section
    padding: 1rem

.information
  grid-area: i

  table
    width: 100%

    tr
      //line-height: 1.6rem

    th
      white-space: nowrap
      text-align: right
      font-weight: normal
      color: #777
      padding-right: 1rem

    tbody > td:first-child
      padding: 1rem

    th,
    td
      vertical-align: baseline
      padding-top: 0

    .serial
      word-break: break-all
      font-family: fira mono, droid sans mono, monospace

  @media (min-width: $on-phone)

    table
      margin: -1rem 0 0 0
      display: flex
      flex-wrap: wrap
      //justify-content: space-between

      th
        min-width: 15ex

      tbody
        margin: 0.8rem 1.6rem 0.8rem 0
        float: left

.health
  grid-area: h
  overflow: hidden

  ul
    padding-left: 2ex

  .pficon,
  .fa
    font-size: 26px
    vertical-align: middle

@media (max-width: $on-phone)
  .health
    display: grid
    grid-auto-columns: repeat(4, 50%)

    h2, p
      grid-column: 1/3

    .issues-current

    .issues-past

.graphs
  display: grid
  grid-area: g
  grid-gap: 20px
  grid-auto-flow: row
  grid-template-columns: repeat(2,1fr)
  //grid-template-columns: 1fr

  > section
    position: relative
    overflow: hidden
    display: flex
    flex-flow: column

  .info
    display: flex
    align-items: baseline
    justify-content: space-around
    order: 2

    .primary
      //font-size: 2rem

.graph
  animation: scrollBackground 1800s steps(6000) infinite
  background: #f6f6f6 url(../img/graph-cpu.svg) repeat-x
  background-clip: content-box
  background-position: 0 100%
  background-size: 300% 100%
  height: 100%
  min-height: 7rem
  opacity: 0.8
  position: relative
  z-index: 10
  border: 1px solid #aaa

  &:before
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ''
    background: url(../img/pixel.png) 0 20%, url(../img/pixel.png) 0 40%, url(../img/pixel.png) 0 60%, url(../img/pixel.png) 0 80%
    background-repeat: repeat-x
    z-index: -1
    opacity: 0.1

.graph-cpu .graph
  background-image: url(../img/graph-cpu.svg)

  &:before
    background: url(../img/pixel.png) 0 25%, url(../img/pixel.png) 0 50%, url(../img/pixel.png) 0 75%
    background-repeat: repeat-x

.graph-ram .graph
  background-image: url(../img/graph-ram.svg)

  &.swap
    background-image: url(../img/graph-swap.svg)
    height: 10%
    min-height: 2rem

    &:before
      background: none

.graph-io .graph
  background-image: url(../img/graph-io.svg)

.graph-network .graph
  background-image: url(../img/graph-network.svg)

  &.outgoing
    background-image: url(../img/graph-network-outgoing.svg)
    transform: scaleY(-1)
    margin-top: -1px

.processes
  grid-area: p

.procs
  width: 100%

  th, td
    padding: 0

    &:not(:first-child)
      text-align: right

  > thead >
    th
      padding: 1rem
      font-weight: normal
      text-align: left
      color: #777

  > tbody
    > tr
      vertical-align: baseline
      line-height: 1.6

      th
        text-align: left
        font-weight: 600

      th, td
        padding: 1rem

@media (max-width: $on-phone)
  .overview
    display: block

  .graphs
    grid-template-columns: repeat(2, 1fr)

@keyframes scrollBackground
  0%
    background-position: 0 100%

  100%
    background-position: 600% 100%
