{% assign n = include.node %}

{% if n.description %}
  <p>
    {{ n.description }}
    {% if n.details %}
    <a class="hoverhelp"
      title="{{ n.details }}"><i
      class="pficon pficon-info" ></i></a>
    {% endif %}
  </p>
{% endif %}

{% if n.pcp_predicate.label %}
  <p>
    <b>Threshold:</b>
    {{ n.pcp_predicate.label }}
  </p>
{% endif %}

{% if n.pcp_deriveds %}
  Compute
  <samp>{{ n.pcp_deriveds | join: " " | split: "=" | first | strip }}</samp>
  with:
  <pre>{{ n.pcp_deriveds | join: " " | split: "=" | last | strip }}</pre>
{% else %}
  Montor PCP metrics:
  <ul>
    {% for metric in n.pcp_metrics %}
    <li><samp>{{ metric }}</samp></li>
    {% endfor %}
  </ul>
{% endif %}

{% if n.urls %}
<p>
References:
  <ul>
    {% for url in n.urls %}
    <li>
      <a href="{{ url }}" target="_blank">{{ url }}</a>
    </li>
    {% endfor %}
  </ul>
</p>
{% endif %}

{% if n.issues %}
<p>
  <em>
  <b>Note:</b> {{ n.issues | join: " " }}
  </em>
</p>
{% endif %}