<html class="index-page">
  <head>
    <base href="{{ site.baseurl }}/static/">
    <title>System - dew</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="patternfly.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <link href="branding.css" rel="stylesheet">
    <script src="cockpit.js"></script>
    <script src="manifests.js"></script>
    <script src="po.js"></script>
  </head>
  <body style="overflow: auto;">
    {{ content }}

    <script src="index.js"></script>

  </body>
</html>
