---
layout: document
---
{% assign newline= "
" %}

<h1>aXe tests</h1>

{% assign types = "violations incomplete" | split: " " %}

{% for type in types %}
  {% assign items = site.data.axe.Test-navigation-axe[type] %}

  <h2 id="type-{{ type }}">{{ type }}</h2>

  {% for test in items %}
    <h3 id="{{ test.id }}">
      <a href="{{ test.helpUrl }}">
        {{ test.impact }}: {{ test.help | xml_escape }}
      </a>
    </h3>

    <section>

      {% for node in test.nodes %}
        {% assign summary = node.failureSummary | split: newline %}

        <dl>
          {% for target in node.target %}
            <dt>{{ target }}</dt>
          {% endfor %}

          <dd>
            <ul>

            <li>HTML: <pre>{{ node.html | xml_escape }}</pre></li>

            {% for none in node.none %}
              <li>Message: {{ none.message | xml_escape }}</li>
            {% endfor %}

            {% if node.any %}
              {% if node.any.relatedNodes %}
                <li>Related element: {{ node.any.relatedNodes }}</li>
              {% endif %}

              <li>Possible issues (fix one):
                <ul>
                  {% for any in node.any %}
                    <li>{{ any.message | xml_escape }}
                      {% if any.data %}
                        <ul>
                          {% for point in any.data %}
                            <li>{{ point[0] }}: <strong>{{ point[1] }}</strong></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}

          </ul>
        </dd>
      </dl>
    </section>
  {% endfor %}
{% endfor %}

{% endfor %}
