---
title: Cockpit
layout: minimal
css: "pf4/patternfly pf4/patternfly-addons form-layout"
css_local: "metrics"
class: "pf-m-redhat-font"
---

<div class="metrics">
    <section>
    </section>

    <section class="metrics-history">
        <div id="metrics-label-events" class="metrics-label">Events</div>
        <div id="metrics-label-cpu" class="metrics-label">CPU</div>
        <div id="metrics-label-memory" class="metrics-label">Memory</div>
        <div id="metrics-label-disks" class="metrics-label">Disks</div>
        <div id="metrics-label-net" class="metrics-label">Net</div>
        <div id="metrics-label-information" class="metrics-label">Information</div>

        <div class="metrics-hour">
            <h3 class="metrics-time"><time>3:00 Monday June 3</time></h3>

            <dl class="metrics-events" style="--metrics-minute: 3">
                <dt><time>3:03</time>  - <time>3:07</time></dt>
                <dd>Swap</dd>
            </dl>

            <dl class="metrics-events" style="--metrics-minute: 14">
                <dt><time>3:14</time></dt>
                <dd>Network errors (53)</dd>
            </dl>

            <dl class="metrics-events" style="--metrics-minute: 33">
                <dt><time>3:33</time>  - <time>3:34</time></dt>
                <dd>Swap</dd>
            </dl>

            {% include_relative _data.html resource="cpu" %}
            {% include_relative _data.html resource="memory" %}
            {% include_relative _data.html resource="disks" %}
            {% include_relative _data.html resource="network" %}
        </div>
        <div class="metrics-hour">
            <h3 class="metrics-time"><time>2:00 Monday June 3</time></h3>

            <dl class="metrics-events" style="--metrics-minute: 11">
                <dt><time>3:03</time>  - <time>3:07</time></dt>
                <dd>Swap</dd>
            </dl>

            <dl class="metrics-events" style="--metrics-minute: 51">
                <dt><time>3:14</time></dt>
                <dd>Swap</dd>
            </dl>

            {% include_relative _data.html resource="cpu" %}
            {% include_relative _data.html resource="memory" %}
            {% include_relative _data.html resource="disks" %}
            {% include_relative _data.html resource="network" %}
        </div>
        <div class="metrics-hour">
            <h3 class="metrics-time"><time>1:00 Monday June 3</time></h3>

            <dl class="metrics-events" style="--metrics-minute: 11">
                <dt><time>3:03</time>  - <time>3:07</time></dt>
                <dd>Swap</dd>
            </dl>

            <dl class="metrics-events" style="--metrics-minute: 51">
                <dt><time>3:14</time></dt>
                <dd>Swap</dd>
            </dl>

            {% include_relative _data.html resource="cpu" %}
            {% include_relative _data.html resource="memory" %}
            {% include_relative _data.html resource="disks" %}
            {% include_relative _data.html resource="network" %}
        </div>
    </section>
</div>