---
---

.metrics {
    --column-size: minmax(5rem, 10vw);
    --data-min-height:6px;
    --data-gap: 2px;
    &-history,
    &-hour {
        display: grid;
        grid-template: "events cpu memory disks net information";
        grid-template-columns: [events] 3fr [cpu] var(--column-size) [memory] var(--column-size) [disks] var(--column-size) [network] var(--column-size) [information] 2fr;
        grid-column: 1 / -1;
        position: relative;
    }

    &-hour {
        grid-gap: var(--data-gap);
        grid-template-rows: repeat(60, minmax(var(--data-min-height), auto));
    }

    &-time,
    &-label {
        padding: 0.5rem 1rem;
    }

    &-info,
    &-events {
        padding: 0 1rem;
    }

    &-label {
        background: #ddd;
        position: sticky;
        top: 0;
        z-index: 99;

        &:not(#metrics-label-events):not(#metrics-label-information) {
            text-align: center;
        }
    }

    &-time {
        grid-row: 0;
        grid-column: 1 / -1;
        background: #eee;
    }

    &-events {
        grid-column: events;
        grid-row: calc(60 - var(--metrics-minute));
        display: grid;
        grid-template-columns: [info] 1fr [time] 1fr;
        align-items: baseline;

        dt {
            grid-column: time;
            font-size: var(--pf-global--FontSize--sm);
            grid-row: 1;
        }

        dd {
            grid-column: info;
        }
    }

    &-info {
        grid-row: calc(60 - var(--metrics-minute));
        grid-column: information;
    }

    &-data {
        --size1: 25%;
        --size2: 25%;
        grid-row: calc(60 - var(--metrics-minute));
        display: grid;
        grid-template-areas: ". saturation utilization .";
        grid-template-columns: calc(50% - var(--size1)) var(--size1) var(--size2) calc(50% - var(--size2));

        &:nth-of-type(odd) {
            --size1: calc(33% * var(--mult));
            --size2: calc(25% * var(--mult));
        }
        &:nth-of-type(3n + 1) {
            --size1: calc(11% * var(--mult));
        }
        &:nth-of-type(5n + 1) {
            --size2: calc(35% * var(--mult));
        }
        &:nth-of-type(7n + 1) {
            --size2: calc(5% * var(--mult));
        }
        &:nth-of-type(9n + 1) {
            grid-template-columns: calc(50% - var(--size2)) var(--size2) var(--size1) calc(50% - var(--size1));
        }
        &:nth-of-type(5n + 2) {
            --size1: 0%;
            --size2: 0%;
        }
        &:nth-of-type(7n-2) {
            --size2: calc(15% * var(--mult));
        }

        > .saturation,
        > .utilization {
            background-color: var(--color);
            min-width: 2px;
        }

        > .saturation {
            grid-area: saturation;
        }

        > .utilization {
            grid-area: utilization;
            opacity: 0.7;
        }

        &-cpu {
            --color: plum;
            grid-column: cpu;
            --mult: 1;
        }

        &-memory {
            --color: lightblue;
            grid-column: memory;
            --mult: 0.5;
        }

        &-disks {
            --color: lightgreen;
            grid-column: disks;
            --mult: 0.25;
        }

        &-network {
            --color: lightsalmon;
            grid-column: network;
            --mult: 0.15;
        }
    }
}